In [3]:
import pandas as pd
import numpy as np
from pathlib import Path

train_path = Path("../data/train.csv")
assert train_path.exists(), f"File {train_path} does not exist."

df = pd.read_csv(train_path)
df.head()

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,target,time_id,row_id
0,0,0,0,3180602.69,1,0.999812,13380276.64,NaN,NaN,0.999812,60651.50,1.000026,8493.03,1.0,-3.029704,0,0_0_0
1,1,0,0,166603.91,-1,0.999896,1642214.25,NaN,NaN,0.999896,3233.04,1.000660,20605.09,1.0,-5.519986,0,0_0_1
2,2,0,0,302879.87,-1,0.999561,1819368.03,NaN,NaN,0.999403,37956.00,1.000298,18995.00,1.0,-8.389950,0,0_0_2
3,3,0,0,11917682.27,-1,1.000171,18389745.62,NaN,NaN,0.999999,2324.90,1.000214,479032.40,1.0,-4.010200,0,0_0_3
4,4,0,0,447549.96,-1,0.999532,17860614.95,NaN,NaN,0.999394,16485.54,1.000016,434.10,1.0,-7.349849,0,0_0_4

In [ ]:
print("Where am I right now?", Path.cwd())
print("Exact file I read ->", train_path.resolve())
print("\nHow big is my data (rows, cols)?")
print(df.shape)
print("\nWhat are the column names?")
print(list(df.columns))
print("Show me the first 5 rows of data:")
display(df.head())

if "stock_id" in df.columns:
    print("\nHow many different stocks are in here?")
    print(df["stock_id"].nunique()) #The number of UNIQUE stock IDs

if "date_id" in df.columns:
    print("\nHow many different trading days are in here?")
    print(df["date_id"].nunique()) 

if "seconds_in_bucket" in df.columns:
    s = df["seconds_in_bucket"]
    print("\nSmallest and largest seconds_in_bucket values:")
    print(int(s.min()), "to", int(s.max())) #Takes the column values and finds the min and max

Where am I right now? /Users/krithiktoure/Desktop/DS Project 1/notebooks
Exact file I read -> /Users/krithiktoure/Desktop/DS Project 1/data/train.csv

How big is my data (rows, cols)?
(5237980, 17)

What are the column names?
['stock_id', 'date_id', 'seconds_in_bucket', 'imbalance_size', 'imbalance_buy_sell_flag', 'reference_price', 'matched_size', 'far_price', 'near_price', 'bid_price', 'bid_size', 'ask_price', 'ask_size', 'wap', 'target', 'time_id', 'row_id']
Show me the first 5 rows of data:

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,target,time_id,row_id
0,0,0,0,3180602.69,1,0.999812,13380276.64,NaN,NaN,0.999812,60651.50,1.000026,8493.03,1.0,-3.029704,0,0_0_0
1,1,0,0,166603.91,-1,0.999896,1642214.25,NaN,NaN,0.999896,3233.04,1.000660,20605.09,1.0,-5.519986,0,0_0_1
2,2,0,0,302879.87,-1,0.999561,1819368.03,NaN,NaN,0.999403,37956.00,1.000298,18995.00,1.0,-8.389950,0,0_0_2
3,3,0,0,11917682.27,-1,1.000171,18389745.62,NaN,NaN,0.999999,2324.90,1.000214,479032.40,1.0,-4.010200,0,0_0_3
4,4,0,0,447549.96,-1,0.999532,17860614.95,NaN,NaN,0.999394,16485.54,1.000016,434.10,1.0,-7.349849,0,0_0_4

How many different stocks are in here?
200

How many different trading days are in here?
481

Smallest and largest seconds_in_bucket values:
0 to 540

In [12]:
display(df.describe(include='all').T)

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
stock_id,5237980.0,NaN,NaN,NaN,99.288557,57.871756,0.0,49.0,99.0,149.0,199.0
date_id,5237980.0,NaN,NaN,NaN,241.510038,138.531899,0.0,122.0,242.0,361.0,480.0
seconds_in_bucket,5237980.0,NaN,NaN,NaN,270.0,158.745094,0.0,130.0,270.0,410.0,540.0
imbalance_size,5237760.0,NaN,NaN,NaN,5715293.098653,20515906.297152,0.0,84534.15,1113604.44,4190951.0025,2982027811.68
imbalance_buy_sell_flag,5237980.0,NaN,NaN,NaN,-0.011896,0.885337,-1.0,-1.0,0.0,1.0,1.0
reference_price,5237760.0,NaN,NaN,NaN,0.999996,0.002532,0.935285,0.998763,0.999967,1.001174,1.077488
matched_size,5237760.0,NaN,NaN,NaN,45100245.284417,139841291.277387,4316.61,5279575.165,12882638.56,32700130.58,7713682054.05
far_price,2343638.0,NaN,NaN,NaN,1.001713,0.721471,0.000077,0.996332,0.999883,1.003318,437.9531
near_price,2380800.0,NaN,NaN,NaN,0.99966,0.012169,0.786988,0.9971,0.999889,1.00259,1.309732
bid_price,5237760.0,NaN,NaN,NaN,0.999726,0.002499,0.934915,0.998529,0.999728,1.000905,1.077488
bid_size,5237980.0,NaN,NaN,NaN,51813.592855,111421.405548,0.0,7374.72,21969.0,55831.68,30287840.0
ask_price,5237760.0,NaN,NaN,NaN,1.000264,0.00251,0.939827,0.999029,1.000207,1.001414,1.077836
ask_size,5237980.0,NaN,NaN,NaN,53575.683293,129355.435701,0.0,7823.7,23017.92,57878.41,54405000.0
wap,5237760.0,NaN,NaN,NaN,0.999992,0.002498,0.938008,0.998781,0.999997,1.001149,1.077675
target,5237892.0,NaN,NaN,NaN,-0.047561,9.45286,-385.2898,-4.559755,-0.060201,4.409552,446.07043
time_id,5237980.0,NaN,NaN,NaN,13310.052102,7619.270963,0.0,6729.0,13345.0,19907.0,26454.0
row_id,5237980,5237980,0_0_0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
print("Data Types: ")
print(df.dtypes)

expected_numeric_cols = [
    "stock_id","date_id","seconds_in_bucket",
    "imbalance_size","imbalance_buy_sell_flag",
    "reference_price","matched_size",
    "far_price","near_price",
    "bid_price","bid_size","ask_price","ask_size",
    "wap","target"  # target exists only in train
    ]

not_numeric_but_should_be = [
    c for c in expected_numeric_cols
    if c in df.columns and not pd.api.types.is_numeric_dtype(df[c])
]
# This for loop iterates through the expected_numeric_cols and c for c 
# just means that it adds the columns that have non-numeric values to the list
# it is the same as creating an empty list and then using a for loop to append 
# the values to the list

print("\nThese should be numbers but they are not:")
print(not_numeric_but_should_be)

na_counts = df.isna().sum()
print("\nNumber of missing values in each column:")
print(na_counts[na_counts > 0])  #Only shows the columns with NA values and keeps out the columsn with 0 NA values

mem_mb = df.memory_usage(deep=True).sum() / (1024**2)
print(f"\nApprox memory usage: {mem_mb:.1f} MB")

# The df.memory_usage(deep=True) is a pandas function that calculates the
# memory usage of each column, deep=True means it will go into each object
# and get the memory usage, while deep=False will basically just get the memory usage
# from the number of rows IF the column is a string/object column, for int/float 
# columns it will get the memory usage from the number of rows regardless of deep=True/False
# because pandas knows how much memory each int/float takes up as it is stored as a numpy array

Data Types:
stock_id                     int64
date_id                      int64
seconds_in_bucket            int64
imbalance_size             float64
imbalance_buy_sell_flag      int64
reference_price            float64
matched_size               float64
far_price                  float64
near_price                 float64
bid_price                  float64
bid_size                   float64
ask_price                  float64
ask_size                   float64
wap                        float64
target                     float64
time_id                      int64
row_id                      object
dtype: object

These should be numbers but they are not:
[]

Number of missing values in each column:
imbalance_size         220
reference_price        220
matched_size           220
far_price          2894342
near_price         2857180
bid_price              220
ask_price              220
wap                    220
target                  88
dtype: int64

Approx memory usage: 934.2 MB